* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
    background: rgb(248, 225, 255);
}

.main {
    height: 100%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.main>div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    height: 25px;
    font-size: 85%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor {
    flex: 1;
}